.toparea{
    padding: 10px 50px;
}
.part1 h6{
    font-size: 10px;
    border-top: solid 3px red;
}
.part1 h6:nth-child(2){
    border-top: solid 3px transparent;
}
.part1 h6:nth-child(3){
    border-top: solid 3px transparent;
}
.part1 h6:hover{
    border-top: solid 3px red;
}
.part1{
    display: flex;
    gap: 20px;
}
.part2 p{
    font-size: 12px;
    border-top: solid 3px transparent;
    padding-left: 95px;
}
.part2 p:hover{
    border-top: solid 3px red;
}
.navbar navbar-expand-lg bg-body-tertiary{
    
    background: #fff;
}
.container-fluid{
    padding-left: 110px;
}
.navbar-brand{
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-brand img{
    width: 60px;
    height: 30px;
}
.nav-item{
    font-size: 12px;
    font-family: sans-serif;
    border-top: solid 3px transparent;
    color: rgb(70, 69, 69);
}
.nav-item:hover{
    border-top: solid 3px red;
    color: black;
}
.dropdown-menu:hover a{
    color: red;
}
.imagesection img{
    width: 100%;
    height: 300px;
}
.re{
    background: #fff;
}
.re h3{
    text-align: center;
    padding: 15px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.prepaid p:nth-child(2){
    background: #ECEDFF !important;
}
.inputt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.image{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ECEDFF;
    margin: 20px 10px;
}.image img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #ECEDFF;
    margin-top: 40px;
}
.image p{
    margin-top: 8px;
    color: black;
    font-size: 15px;
}
.prepaid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.postpaid a{
    padding: 5px 10px;
    background: black;
    text-decoration: none;
    color: white;
    border-radius: 15px;

}
.inputt input{
    
    border: solid 1px black;
    border-radius: 5px;
    width: 260px;
    padding: 3px 4px;
    font-size: 14px;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn a{
    padding: 5px 100px;
    background: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
.getapp{
    background: linear-gradient(to left, #F7D1CB,#FCEDD8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.getapp .offer img{
    height: 30px;
    width: 30px;
}
.getapp .text p{
    font-size: 10px;
}
.getapp .btn a{
    text-decoration: none;
    padding: 0px 1px;
    background: transparent;
    border: solid 1px black;
    border-radius: 15px;
    font-size: 10px;
    color: black;
}
.getapp .row{
    justify-content: center;
}

.getapp .col-md-12{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.text1{
    text-align: center;
    margin-top: 30px;

}
.abox{
    border-radius: 15px 15px 10px 10px;
    margin: 40px 40px 0 30px;
    border: solid 1px black;
    height: 360px;
    width: 300px;
    padding-right: 50px;
}
.aboximage img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.aboxdata{
    padding: 20px;
    background: #fff;

}
.aboxdata h6{
    font-size: 12px;
    color: #696B6F;
    font-weight: 600;
}
.aboxdata h3{
    font-size: 19px;
    color: #3E4146;
    font-weight: 600;
}
.aboxdata p{
    color: #6E6B6F;
    font-size: 12px;
    width: 300px;
}
.aboxdata button{
    padding: 4px 20px;
    background: black;
    color: white;
    border-radius: 7px;
}
.aboxdata a{
    text-decoration: none;
    color: #2F5EE8;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    padding: 4px;
}
.aboxdata a:hover{
    border-bottom: solid 2px #2F5EE8;
    border-left: solid 1px #2F5EE8;

}.bboxsection{
    background-image: url("back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 570px;
    padding: 30px 0;
    margin-top: 30px;
    padding-left: 40px;
}
.bboxsection h3{
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0;
}
.bbox{
    height: 380px;
    width: 300px;
    margin-top: 40px;
    border-radius: 10px;
    text-align: center;
    background: #F4F5FF;
    padding: 10px 20px;
    position: relative;
}
.bbox h6{
    color: #3E4146;
    font-size: 12px;
    font-weight: bold;
}
.bbox h4{
    font-size: 16px;
    color: #292C31;
    text-align: center;
    padding: 20px 20px 0 20px;
    font-weight: bold;
}
.bbox h5{
    font-size: 11px;
    padding-bottom: 20px;
}
.bbox button{
    text-decoration: none;
    display: flex;
    height: 40px;
    width: 180px;
    background: black;
    border-radius: 15px;
    margin-top: 8px;
    display: block;
    color: #fff;
    position: relative;
    left: 55px;
}
button:nth-child(2){
    background: white;
    color: black;
}

